#!/bin/bash

if [ "${BAHMNI_SERVER_MODE}" != "active" ]; then
  echo "Skipping backup, mode ${BAHMNI_SERVER_MODE} is not equal to active."
  exit 0
fi

BACKUP_DIR="{{ bahmni_backup_dir }}/backups"
NESTOR_BACKUP_DIR="/volume1/Backups/bahmni/backups"

rsync -e "ssh -i /root/.ssh/bahmni_key" -avz --omit-dir-times --delete ${BACKUP_DIR}/ root@nestor:"${NESTOR_BACKUP_DIR}/bahmni/"

