#!/bin/bash

. /cron_env.sh

DATETIME=$(date +%Y%m%d_%H%M%S)
echo "Starting move to passive at ${DATETIME}"

if [ "${BAHMNI_SERVER_MODE}" != "active" -o "${BAHMNI_BACKUP_NESTOR}" != "yes" ]; then
  echo "Skipping backup, mode (${BAHMNI_SERVER_MODE}) is not equal to active or bahmni_backup_nestor (${BAHMNI_BACKUP_NESTOR}) is not equal to yes."
  exit 0
fi

BACKUP_DIR="{{ bahmni_backup_dir }}/backups"
NESTOR_BACKUP_DIR="/volume1/Backups/bahmni/backups"

rsync -e "ssh -i /root/.ssh/bahmni_key" -avz --omit-dir-times --delete ${BACKUP_DIR}/ root@nestor:"${NESTOR_BACKUP_DIR}/bahmni/"

