#!/bin/bash

. /cron_env.sh

DATETIME=$(date +%Y%m%d_%H%M%S)
echo "Starting move to nestor at ${DATETIME}"

if [ "${BAHMNI_SERVER_MODE}" != "active" -o "${BAHMNI_BACKUP_NESTOR}" != "yes" ]; then
  echo "Skipping backup, mode (${BAHMNI_SERVER_MODE}) is not equal to active or bahmni_backup_nestor (${BAHMNI_BACKUP_NESTOR}) is not equal to yes."
  exit 0
fi

# TODO: fill in these variables from ansible so that they can be configured per implementation
BACKUP_DIR="{{ bahmni_backup_dir }}/backups"

rsync -e "ssh -o ConnectTimeout=30 -o StrictHostKeyChecking=no -o IdentitiesOnly=yes -o Compression=no -o ControlMaster=no -i /root/.ssh/bahmni_key" -avz --omit-dir-times --delete ${BACKUP_DIR}/ root@nestor:"${BAHMNI_NESTOR_BACKUP_DIR}/bahmni/backups/"

