# To see the list of valid variables in Bahmni please refer to:
# https://bahmni.atlassian.net/wiki/display/BAH/List+Of+Configurable+Installation+Variables

timezone: {{ bahmni_timezone }}
implementation_name: {{ bahmni_implementation_name }}
SSLCertificateFilePath: {{ bahmni_cert_dir }}/{{ bahmni_cert }}
SSLCertificateKeyFilePath: {{ bahmni_cert_dir }}/{{ bahmni_cert_key }}
SSLCertificateChainFilePath: {{ bahmni_cert_dir }}/{{ bahmni_cert_chain }}
selinux_state: disabled
docker: yes
{% if custom_omods is defined %}
omods:
{% for omod in custom_omods %}
  - "{{ omod }}"
{% endfor %}
{% endif %}
openmrs_server_options: "-Xms2048m -Xmx6144m {{ bahmni_java_gc_opts }} -Duser.timezone={{ bahmni_timezone }}"
bahmni_lab_server_opts: "-Xms512m -Xmx1024m {{ bahmni_java_gc_opts }} -Duser.timezone={{ bahmni_timezone }}"
bahmni_reports_server_opts: "-Xms512m -Xmx1024m {{ bahmni_java_gc_opts }} -Duser.timezone={{ bahmni_timezone }}"
{% if mysql_root_password is defined %}
mysql_root_password: "{{ mysql_root_password }}"
{% endif %}

